@font-face {
    font-family: 'myname';
    src: url(myname.woff2) format('woff2');
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#title{
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 5vw;
    color: black;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif */
}

#pic1 {
 width: 80vw;
 height: 30vw;
 margin-left: calc(50vw - 40vw);
 margin-top: 5vh;
 background-color: gray;
}

#textbox1 {
  width: 34vw;
  /* height: 30vw; */
  overflow: hidden;
  text-align:left;
  float: left;
  padding: 2vw;
  margin: 4vw 4vw 4vw calc(50vw - 40vw); 
  font-family: "Roboto", sans-serif;
  /* text-wrap: wrap;
  hyphens: auto; */
}

#textbox2 {
  float: left;
  width: 34vw;
  margin-top: 4vw;
  padding: 2vw;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.floatclear {
  clear: both;
}

.flexwrapper{
  width: 38vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid#000000;
}
