@font-face {
    font-family: 'myname';
    src: url(myname.woff2) format('woff2');
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
  margin: 0vw;
  
}

#title{
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 6vw 4vw 4vw 8vw;
    color: black;
    font-size:xx-large;
    font-weight: bolder;
/* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif */
}

#pic1 {
 width: 80vw;
 height: 40vw;
 margin-left: calc(50vw - 40vw);
 margin-top: 0vh;
 border-radius: 1vw;
 background-image: url("topimage.png");
 background-size:cover;
}

#originalweb{
  margin: -2.5vw 10vw 10vw 10vw;
  width:78vw;
  height: 45vw;
  border-radius: 1vw;
  border: 0px;
}

#textbox1 {
  width: 34vw;
  /* height: 30vw; */
  overflow: hidden;
  text-align:left;
  float: left;
  padding: 2vw;
  margin: 4vw 1vw 1vw calc(50vw - 40vw); 
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:450;
  /* text-wrap: wrap;
  hyphens: auto; */
}

#textbox2 {
  float: left;
  width: 36vw;
  margin-top: 4vw;
  padding: 2vw;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:450;
  text-align: left;
}

.floatclear {
  clear: both;
}

.flexwrapper{
  margin-left: 10vw;
  margin-bottom: 0vw;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  height: 40vw;
  overflow: hidden;
}

.flexpicture {
  position: relative;
  align-self: center;
  background-color: grey;
  width: calc(50% - 14px);
  border-radius: 1vw;
  overflow: hidden;
}

.flexpicture > p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 18vw;
  left: 0;
  width: 100%;
  text-align: center;
}

.flexpicture > img {
  width: 100%;
}

.pictureleft {
  margin-right: 10px;
}

.subtitle {
 margin: 5vw 10vw 2vw 10vw;
 font-family: "Roboto", sans-serif;
 font-size:larger;
 font-weight: bolder;
}

#text3 {
  width: 50%;
  margin: 0vw 10vw 5vw 10vw;
  font-size:medium;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:450;
}

.leftbubble {
  width: 40vw;
  border-radius: 3vw 3vw 4vw 0vw;
  margin: 2vw 10vw 3vw 10vw;
  text-align:center;
  padding: 4vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}


.rightbubble {
  width: 50vw;
  border-radius: 3vw 3vw 0vw 3vw;
  margin-left: 30vw;
  margin-bottom: 2vw;
  padding: 4vw;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bubble1 {
  background-color: rgba(234, 197, 216, 1);
}

#bubble2 {
  background-color: rgba(127, 190, 235, 1);  
}

#bubble3 {
  background-color: rgba(196, 216, 197, 1);  
}

#bubble4 {
  background-color: rgba(219, 216, 240, 1);  
}

#bubble5 {
  background-color: rgba(127, 179, 184, 1);  
}

#bubble6 {
  background-color: rgba(234, 197, 216, 1);  
}

.footing {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-small;
  color: gray;
}

#text4 {
  text-align: right;
  margin-right: 10vw;
  margin-top: -9vw;
}

#bottomtext{
  text-align: center;
  margin-top: 10vw;
  margin-bottom: 2vw;
}

/* .message {
  text-align: center;
  position: relative;
  top: 4vw;
} */