html{
  background-color: black;
}

body{
    margin: 0;
}

#grid {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 16.6vw);
}

.tile {
    width: 16vw;
    height: 16vw;
    background-color: transparent;
    margin-right: 10px;
    /* overflow-y: auto; */
    border: 1px solid transparent;
    border-radius: 0%;
    animation: leftscroll infinite 60s linear;
}

.sround{
    margin: 5.5vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    animation: blink 3s ease infinite;
    /* animation: lefttextscroll infinite 60s linear; */
}

.mround{
    margin: 3vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    animation: blink 5s ease infinite;
}

.lround{
    margin: 0.5vw;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    animation: blink 4s ease infinite;
}

.blink{
    animation: blink 1s ease infinite;
}

@keyframes blink {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
 
.title{
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  color: aliceblue;
  text-align: center;
  margin-top: 2vh;
}

.title2{
  font-family: 'Courier New', Courier, monospace;
  font-size: x-small;
  color: aliceblue;
  text-align: center;
  margin-top: 2vh;
}

.assignment{
  margin-top: 3vh;
  margin-left: 1%;
  width: 98%;
  height: 100%;
  border-radius: 10px;
  border-color: transparent;
  background-color: aliceblue;
}

#back{
  margin-top: 20px;
  margin-left: 1%;
  padding: 2px;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  text-align: center;
  font-family: monospace;
  font-size: larger;
  font-style: italic black;
}

.rr{
  position: absolute;
  margin-top: 3vh;
  margin-left: 1%;
  padding: 2%;
  width: 95%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: small;
  background-color: rgb(248, 252, 255);
  border-radius: 10px;
}

